@import "tailwindcss";

@theme {
  --font-main: "Zen Dots", cursive;
  --font-secondary: "Roboto", sans-serif;

  --color-main: oklch(80.97% 0.1041 299.16);
  --color-second: oklch(60.57% 0.224 285.06);
  --color-purplefonce: oklch(28.54% 0.1194 301.6);
  --color-purplefoncehover: oklch(55.31% 0.1153 300.77);
}

.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  animation: scrollStars 40s linear infinite;
}

@keyframes scrollStars {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #cab2fb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #36135a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #220f3d;
}